<h1>Teacher for <%= @student.name %></h1>

<ul>
    <li><a href="/teachers/<%= @teacher.id %>"><%= @teacher.name %></a></li>
</ul>

<a href="/students">Go back to Students Directory</a>
<a href="/students/<%= @student.id %>/edit">Edit Student</a>

<form action="/students/<%= @student.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete This Student....Forever">
</form>
