<h1>Class Roster for <%= @teacher.name %></h1>

<ul>
  <% @students.each do |student| %>
    <li><a href="/students/<%= student.id %>"><%= student.name %></a></li>
  <% end %>
</ul>

<a href="/teachers">Go back to Teacher Directory</a>
<a href="/teachers/<%= @teacher.id %>/edit">Edit Teacher</a>

<form action="/teachers/<%= @teacher.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete This Teacher....Forever">
</form>
